[tools]
go = "1.25.5"
"go:honnef.co/go/tools/cmd/staticcheck" = "latest"
"go:github.com/securego/gosec/v2/cmd/gosec" = "latest"
"go:golang.org/x/vuln/cmd/govulncheck" = "latest"
"go:mvdan.cc/gofumpt" = "latest"

[settings]
pin = true

[tasks]
lint = { run = "staticcheck ./..." }
format = { run = "gofumpt -w ." }

vulncheck = { run = "govulncheck ./..." }
security = { run = "gosec ./..." }

test = { run = "go test ./..." }

build = { run = "go build -o bin/log-tailer ." }

all = { depends = ["test", "lint", "format", "vulncheck", "security"] }

check = { depends = ["test", "lint", "vulncheck", "security"] }
