[tools]
go = """
{%- set command = 'grep "^go [0-9]*\\.[0-9]*" ' ~ config_root ~ "/go.mod | awk '{print $2}'" -%}

{{- exec(cache_key="go", command=command) -}}
"""

[tasks.lint]
run = "go tool staticcheck ./..."

[tasks.format]
run = "go tool gofumpt -w ."

[tasks.vulncheck]
run = "go tool govulncheck ./..."

[tasks.security]
run = "go tool gosec -quiet ./..."

[tasks.test]
run = "go test ./..."

[tasks.build]
sources = ["./**/*.go"]
outputs = ["bin/log-tailer"]
run = "go build -o bin/log-tailer ."

[tasks.check]
depends = ["test", "lint", "vulncheck", "security", "test-integration"]

[tasks.all]
depends = ["build", "check"]

